@model IEnumerable<furni1.ViewModels.UserVM>
<div style="display:flex; justify-content:space-between">
    <h3>Users</h3>
    <a type="button" class="btn btn-primary m-1" asp-action="Create">Create</a>
</div>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>Full Name</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>Status</th>
                    @if (User.IsInRole("Admin"))
                    {
                    <th style="display:flex; justify-content:flex-end">Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @if (item.IsDeactive)
                            {
                                <span class="badge bg-light-danger rounded-pill text-danger px-3 py-2 fs-3">Passive</span>
                            }
                            else
                            {
                                <span class="badge bg-light-success rounded-pill text-success px-3 py-2 fs-3">Active</span>
                            }
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td style="display:flex; justify-content:flex-end; height:114.8px; align-items:center">
                                @if (User.Identity.Name != item.Username)
                                {
                                    @if (item.IsDeactive)
                                    {
                                        <a class="btn btn-outline-success m-1" style="display:flex; justify-content:center; align-items:center; height:42.1px; width:135px" asp-action="Activity" asp-route-id="@item.Id" style="margin-right:10px; width:120px">Activate</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-danger m-1" style="display:flex; justify-content:center; align-items:center; height:42.1px; width:135px" asp-action="Activity" asp-route-id="@item.Id" style="margin-right:10px; width:120px">Deactivate</a>
                                    }
                                }
                                <a class="btn btn-outline-info m-1" style="display:flex; align-items:center; height:42.1px" asp-action="ResetPassword" asp-route-id="@item.Id">Reset Password</a>
                                <a class="btn btn-outline-primary m-1" style="display:flex; align-items:center; height:42.1px" asp-action="Edit" asp-route-id="@item.Id">Update</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
